{% extends "base.html" %}
{% block title %}Go Search{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">

        .top-search-bar {
            margin-top: 1%;
        }

        #map {
            position: relative;
            left: 15%;  
            height: 300px;
            width: 800px;
        }

        #numResults {
          position: relative;
          left: 54%;
        }

    </style>
{% endblock %}


{% block body %}
	{{ super() }}
    <div id="page-wrapper">
        <!-- /.col-lg-12 -->
        <div class="row" id="main-content">
            <div class="col-lg-7">

                {% if image_list is defined and image_list %}
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           Images
                       </div>
                       <section class="panel-body image-panel">
                           <div></div>
                           {% for image in image_list %}
                               <img src={{image}} width="1">
                           {% endfor %}
                       </section>
                   </div>
                {% endif %}

                

                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <i class="fa fa-twitter"></i>  Tweets for the query 
                        {% if results_count %} 
                        <span id="numResults"> {{results_count}} results returned </span>
                        {% else %}
                        <span id="numResults"> 0 results returned </span>
                        {% endif %}
                    </div>

                    
                    <div class="panel-body tweet-list" >
                    <div id="page-nav"></div>
                       <div class="qa-message-list" id="wallmessages" style="overflow:scroll;height:500px;">    
                            
                            {% for tweet in tweets %}       
                            <div class="message-item paginate" data-lang="{{tweet.tweet_lang[0]}}">
                                <div class="qa-message-content ">
                                    {{tweet.html[0]|safe}}
                                </div>
                                <div class="qa-message-content">
                                    <a href="/morelikethis?similar={{tweet.id}}"><button id="main-search-btn" class="btn btn-default" type="submit"> More Like this </button></a>
                                </div>

                            </div>
                            {% endfor %} 

                        </div> 
                                
                    </div>

                </div>
       
            </div>
   
            <div class="col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Trending Tags
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group trending-tags"><!-- Filled dynamically --></div>
                    </div>
                </div>
            </div>
            
            {% if summary is defined and summary %}
	            <div class="col-lg-5">
	            	<div class="panel panel-default">
	                    <div class="panel-heading">
	                        Summary
	                    </div>
	                    <div class="panel-body">
								{{summary}}
							
	                    </div>
	                </div>
				</div>
			{% endif %}
			
            <div class="col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tagging
                    </div>
                    <div id="query_tags" class="panel-body tag_style" style="overflow:auto;">
                        {% if tags is not defined %}
                            <span style="background-color:white;color:grey;font-size:90%;padding:0px;">Tags..</span>
                        {% endif %}
                        {% if tags is defined %}
                            {% for tag in tags %}
                                <span>{{tag}}</span>&nbsp;
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            
      	</div>
    </div>
    <!-- /#page-wrapper -->

    <!-- Map -->
<!--     <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Density Map </h4>
          </div>
          <div class="modal-body">
             <div id="map" style="width: 300px; height: 400px"></div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Bubble Cloud -->
    <div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Bubble Cloud </h4>
          </div>
          <div class="modal-body">
             <div id="container" class="container">
			  <div id="main" role="main">
			    <div id="vis"></div>
			    <div id="status"></div>
			  </div>
			</div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}
